/* common style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: "Baloo Da 2", cursive;
}

html{
    font-size: 55%;
}

.logo{
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 800;
    color: #fff;
    position: relative;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
}
.p-1{
    font-size: 4.5rem;
    margin-right: 1rem;
    position: relative;
    z-index: 10;
}
.p-2{
    font-size: 4.5rem;
    color: #bbb;
    position: absolute;
    top: 0.4rem;
    left: 0.5rem;
}
/* end of  common style */

/* Section-1-style */
.section-1{
    width: 100%;
    height: 65vh;
    background: linear-gradient(
        to top,
        rgba( 38, 38, 38, 0.7),
        rgba( 38, 38, 38, 0.6)
    ), url(images/bg.jpg) center no-repeat;
    background-size: cover;
}
.navbar-wrapper{
    width: 100%;
    height: 8rem;
    border-bottom: 0.1rem solid #aaa;
    display: flex;
    justify-content: center;
}
.navbar{
width: 120rem;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
.navbar-list{
    display: flex;
}
.navbar-item{
   height: 8rem;
   padding: 2rem;
   display: flex;
   align-items: center;
   transition: border-bottom 0.1s;
   -webkit-transition: border-bottom 0.1s;
   -moz-transition: border-bottom 0.1s;
   -ms-transition: border-bottom 0.1s;
   -o-transition: border-bottom 0.1s;
}
.navbar-item:hover{
    border-bottom: 0.1rem solid #fff;
}

.navbar-link{
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
}
.navbar-link i{
    font-size: 1.5rem;
    margin-left: 0.5rem;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}
.navbar-item:hover .navbar-link i{
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
}
.nav-dropdown{
    width: 100%;
    height: 28rem;
    background: linear-gradient(to right, #066399, #2f8fdf, #066399);
    position: absolute;
    top: 8rem;
    left: 0;
    z-index: 10;
    padding: 0 30rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    visibility: hidden;
}
.nav-dropdown-item{
    width: 25rem;
    margin: 2rem 10rem;
    display: flex;
    flex-direction: column;
}
.nav-dropdown-link-1{
font-size: 1.6rem;
color: #fff;
text-transform:capitalize;
}
.nav-dropdown-link-2{
    font-size: 1.3rem;
    color: #fff;
    text-transform: capitalize;
    }

.navbar-btn{
    width: 8rem;
    padding: 0.7rem;
    margin: 0.3rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    border: 0.1rem solid #fff;
    font-size: 1.4rem;
    text-transform: capitalize;
    cursor: pointer;
}
.login-btn{
    background-color: transparent;
    color: #fff;
}
.signup-btn{
    background-color: #fff;
    color: #262626;
}

.banner{
    width: 100%;
    position: absolute;
    top: 20%;
    text-align: center;
}
.banner-heading{
    font-size: 6rem;
    font-weight: 300;
    color: #fff;
    margin-bottom: 3rem;
}
.banner-pragraph{
    font-size: 1.8rem;
    color: #fff;
    width: 50%;
   margin: 0 auto 4rem auto;
}

.banner-btn{
    width: 35rem;
    height: 5rem;
    background-color: #036bb1;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    border: none;
    cursor: pointer;
}
/* End of Section-1-style */

/* Section-2-Style */
.section-2{
    width: 100%;
    padding: 10rem 0 15rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-2-heading{
    font-size: 5rem;
    font-weight: 300;
    color: #333;
    margin-bottom: 3rem;
}
.services{
    display: flex;
}
.service{
    width: 35rem;
    text-align: center;
    margin: 0 5rem;
}
.service i{
    color: #229fe7;
    font-size: 6rem;
    margin: 2rem 0;
}
.service-heading{
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.service-pragraph{
    font-size: 1.5rem;
    font: 600;
    margin-bottom: 2rem;
    line-height: 1.2;
}
.service-btn{
    width: 20rem;
    padding: 1.5rem;
    background-color: transparent;
    border: 1px solid #036bb1;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    color: #036bb1;
    font-size: 1.5;
    font-weight: bold;
    cursor: pointer;
}
/* End of Section-2-Style */
/* Section-3-Style */
.section-3{
    width: 100%;
    padding: 5rem 0;
    background: linear-gradient(
        to right,
    rgba(3, 33, 129, 0.9),
    rgba(9, 67, 153, 0.8),
    rgba(4, 32, 124, 0.9)
    );
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-3-heading{
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 5rem;
}
.features{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
.feature{
    width: calc(100% / 3);
    padding: 0 5rem;
    margin-bottom: 5rem;
    align-items: center;
}
.features-heading{
    font-size: 3rem;
    width: max-content;
    font-weight: 300;
    margin: 0 auto 1rem auto;
}
.features-pragraph{
    font-size: 1.5rem;
    font-weight: 150rem;
    line-height: 1.2;
}
/* End of Section-3-Style */
/* Section-4-Style */
.section-4{
    width: 100%;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-4-heading{
font-size: 5rem;
font-weight: 400;
color: #444;
margin-bottom: 5rem;
}
.section-4-contant{
    display: flex;
    width: 80%;
}
.section-4-img-wrapper{
    width: 40%;
    margin-right: 6rem;
}
.section-4-img-wrapper img{
    width: 100%;
    opacity: 0.8;
}
.section-4-list{
    width: 55%;
    margin-top: 2rem;
}
.section-4-list-item{
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.number{
    width: 3.5rem;
    height: 3.5rem;
    border: 0.1rem solid #555;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-4-list-item a{
    color:#036bb1;
    font-weight: bold;
}
/* End of Section-4-Style */
/* Section-5-Style */
.section-5{
    width: 100%;
}
.section-5-top{
    width: 100%;
    background-color: #f3f7fa;
    text-align: center;
    padding: 7rem 0;
}
.section-5-top-heading{
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 4rem;
}
.footer{
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0 3rem 0;
}
.footer-top{
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid #262626;
    margin-bottom: 0.1rem;
}
.footer-list{
    display: flex;
    align-items: center;
}
.footer-list li{
    margin-right: 2.5rem;
}
.footer-list a{
    font-size: 1.5rem;
    font-weight: 600;
    color: #262626;
}
.footer-list img{
    width: 3.8rem;
    opacity: 0.6;
}
.copyright{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}
/* End of Section-5-Style */